{% extends 'base.html.twig' %}

{% block title %}New TimeSheet{% endblock %}

{% block body %}
    <h1>Create new TimeSheet</h1>

    {{ include('time_sheet/_form.html.twig') }}

    <a href="{{ path('time_sheet_index') }}">back to list</a>
{% endblock %}
